/* Estilos globais */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Branco */
  color: #000000; /* Preto */
}

/* Estilos de navegação */
nav {
  background-color: #4d4d4d; /* Cor de fundo da barra de navegação */
  color: white;
  padding: 1rem 0; /* Reduzindo o preenchimento na parte superior e inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Definindo a largura para ocupar toda a largura da tela */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%; /* Definindo a largura para ocupar toda a largura da tela */
}

nav ul li {
  margin: 0 1rem; /* Aumentando o espaço entre os itens de navegação */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4d4d4d; /* Cor de fundo dos botões */
  border: 1px solid #4d4d4d; /* Cor da borda dos botões */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adicionando sombra sutil */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Adicionando transições */
}

nav ul li a:hover {
  background-color: #333; /* Cor de fundo dos botões ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aumentando a sombra ao passar o mouse */
}

/* Estilos dos botões de controle de fonte */
.font-controls {
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.font-controls button {
  background-color: #4d4d4d; /* Cor de fundo dos botões */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px; /* Aumentando o tamanho do botão */
  margin: 0 10px; /* Espaçamento entre os botões */
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Adicionando transições */
}

.font-controls button:hover {
  background-color: #333; /* Cor de fundo dos botões ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Aumentando a sombra ao passar o mouse */
}

/* Estilos de boas-vindas */
.welcome-message {
  text-align: center;
  margin-top: 2rem;
}

.welcome-message h1 {
  color: #000000; /* Cor do título */
  font-size: 2rem;
}

.welcome-message p {
  color: #333; /* Cor do texto */
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Organizar itens verticalmente */
    align-items: flex-start; /* Alinhar itens à esquerda */
    width: 100%; /* Ocupar toda a largura da tela */
    padding: 15px 0; /* Adicionar preenchimento em cima e em baixo */
    margin: 0; /* Remover margem padrão */
  }

  nav ul li {
    margin: 10px 0; /* Espaçamento entre os itens */
    width: 100%; /* Itens ocupam toda a largura da tela */
  }
}

/* Estilos da página de Relatório de Faltas */
.relatorio-page {
  padding: 2rem; /* Adicione o espaçamento interno desejado */
}

.relatorio-title {
  font-size: 2rem; /* Tamanho do título */
  margin-bottom: 1rem; /* Espaçamento inferior */
  color: #333; /* Cor do título */
}

.relatorio-list {
  list-style: none;
  padding: 0;
}

.relatorio-item {
  background-color: #f4f4f4; /* Cor de fundo dos itens do relatório */
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem; /* Espaçamento inferior entre os itens */
}

.relatorio-item-title {
  font-size: 1.2rem; /* Tamanho do título do item */
  margin-bottom: 0.5rem; /* Espaçamento inferior */
  color: #333; /* Cor do título do item */
}

.relatorio-item-content {
  font-size: 1rem; /* Tamanho do conteúdo do item */
  color: #555; /* Cor do conteúdo do item */
}
